In [1]:
import pandas as pd

In [4]:
excel_file_path = 'C:/Users/ASUS/OneDrive/Documents/實習/Rebas/CPBL_2023.xlsx'  # 請替換成你的 Excel 檔案路徑
sheet_name1 = 'AWAY-BOX-打擊'  # 請替換成你要載入的工作表名稱
sheet_name2 = 'HOME-BOX-打擊'

In [5]:
away = pd.read_excel(excel_file_path, sheet_name=sheet_name1)
home = pd.read_excel(excel_file_path, sheet_name=sheet_name2)

In [6]:
merged_stat = pd.concat([away, home], ignore_index=True)
merged_stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6975 entries, 0 to 6974
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   比賽編號    6975 non-null   int64
 1   比賽日期    6975 non-null   object
 2   球場      6975 non-null   object
 3   客場      6975 non-null   object
 4   主場      6975 non-null   object
 5   打序      6975 non-null   int64
 6   背號      6975 non-null   int64
 7   名稱      6975 non-null   object
 8   打席      6975 non-null   int64
 9   打數      6975 non-null   int64
 10  得分      6975 non-null   int64
 11  安打      6975 non-null   int64
 12  打點      6975 non-null   int64
 13  二安      6975 non-null   int64
 14  三安      6975 non-null   int64
 15  全壘打     6975 non-null   int64
 16  滾地雙殺    6975 non-null   int64
 17  雙殺      6975 non-null   int64
 18  三殺      6975 non-null   int64
 19  四壞      6975 non-null   int64
 20  故意四壞    6975 non-null   int64
 21  觸身      6975 non-null   int64
 22  三振      6975 non-null   int64
 23  犧短      6975 non-null   int64
 24  犧飛      6975 non-null   int64
 25  失誤上壘    6975 non-null   int64
 26  盜壘      6975 non-null   int64
 27  盜壘失敗    6975 non-null   int64
dtypes: int64(23), object(5)
memory usage: 1.5+ MB

In [5]:
merged_stat = merged_stat.drop(['球場',"比賽編號","比賽日期","客場","主場","打序","背號",'滾地雙殺','雙殺','三殺','失誤上壘','故意四壞','犧短','犧飛'], axis = 1)
merged_stat

       名稱  打席  打數  得分  安打  打點  二安  三安  全壘打  四壞  觸身  三振  盜壘  盜壘失敗
0     董子恩   5   5   0   2   1   0   0    0   0   0   0   0     0
1     王念好   5   5   0   3   2   0   0    0   0   0   1   0     0
2     池恩齊   0   0   0   0   0   0   0    0   0   0   0   0     0
3      陳真   5   4   0   1   0   0   0    0   1   0   1   0     0
4     高國麟   2   1   0   0   0   0   0    0   1   0   0   0     0
...   ...  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..   ...
6970  張志豪   3   3   0   0   0   0   0    0   0   0   1   0     0
6971  曾頌恩   1   1   0   0   0   0   0    0   0   0   0   0     0
6972  福來喜   3   3   0   0   0   0   0    0   0   0   2   0     0
6973  高宇杰   1   1   0   0   0   0   0    0   0   0   0   0     0
6974  岳東華   4   3   1   1   0   0   0    0   1   0   1   0     0

[6975 rows x 14 columns]

In [6]:
agg_dict = {
    "打席": "sum",
    "打數": "sum",
    "得分": "sum",
    "安打": "sum",
    "打點": "sum",
    "二安": "sum",
    "三安": "sum",
    "全壘打": "sum",
    "四壞": "sum",
    "觸身": "sum",
    "三振": "sum",
    "盜壘": "sum",
    "盜壘失敗": "sum"
}
batter_total = merged_stat.groupby("名稱").agg(agg_dict).reset_index()
batter_total

      名稱   打席   打數  得分  安打  打點  二安  三安  全壘打  四壞  觸身  三振  盜壘  盜壘失敗
0    于森旭   38   38   2   6   1   1   0    0   0   0   9   4     0
1    何恆佑   47   45   4   8   0   2   0    0   1   0  12   0     0
2    余德龍   52   48   5  10   5   1   0    1   1   0  12   0     1
3    全浩瑋    5    5   0   1   0   0   0    0   0   0   1   0     0
4    冉承霖   32   29   4   7   3   0   0    0   3   0  12   0     0
..   ...  ...  ...  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..   ...
145  高宇杰  231  212  14  40  10   4   0    1  14   0  54   1     0
146  黃勇傳  121  107  12  25   9   3   0    0  11   2  19   2     2
147  黃鈞聲   10   10   0   3   0   0   0    0   0   0   4   0     0
148  黃鈞麟    1    0   0   0   0   0   0    0   0   1   0   0     0
149  黃韋盛   88   80  14  18   5   2   0    0   6   0  25   0     0

[150 rows x 14 columns]

In [7]:
batter_total['一安'] = batter_total['安打']-batter_total['二安']-batter_total['三安']-batter_total['全壘打']
batter_total['TB'] = batter_total['一安']+batter_total['二安']*2+batter_total['三安']*3+batter_total['全壘打']*4

## 代跑次數處理

In [8]:
excel_file_path = 'C:/Users/ASUS/Documents/實習/Rebas/CPBL_2023.xlsx'  # 請替換成你的 Excel 檔案路徑
sheet_name3 = 'AWAY-換人事件'  # 請替換成你要載入的工作表名稱
sheet_name4 = 'HOME-換人事件'

In [9]:
away_PR = pd.read_excel(excel_file_path, sheet_name=sheet_name3)
home_PR = pd.read_excel(excel_file_path, sheet_name=sheet_name4)

In [10]:
merged_PR = pd.concat([away_PR, home_PR], ignore_index=True)
merged_PR

,比賽編號,比賽日期,球場,客場,主場,流水號,事件順序,是攻方,上場選手,守位,下場選手
0,285,2023-10-25 18:35,嘉義市立棒球場,富邦悍將,統一7-ELEVEn獅,13,1,X,張偉聖,8,陳傑憲
1,285,2023-10-25 18:35,嘉義市立棒球場,富邦悍將,統一7-ELEVEn獅,15,1,X,潘威倫,1,江承諺
2,285,2023-10-25 18:35,嘉義市立棒球場,富邦悍將,統一7-ELEVEn獅,16,1,X,唐肇廷,7,林靖凱
3,285,2023-10-25 18:35,嘉義市立棒球場,富邦悍將,統一7-ELEVEn獅,16,1,X,何恆佑,3,蘇智傑
4,285,2023-10-25 18:35,嘉義市立棒球場,富邦悍將,統一7-ELEVEn獅,16,1,X,林祖傑,6,陳鏞基
...,...,...,...,...,...,...,...,...,...,...,...
3801,1,2023-04-01 17:21,臺中市洲際棒球場,樂天桃猿,中信兄弟,26,1,X,陳禹勳,1,威達爾
3802,1,2023-04-01 17:21,臺中市洲際棒球場,樂天桃猿,中信兄弟,30,1,X,陳冠宇,1,陳禹勳
3803,1,2023-04-01 17:21,臺中市洲際棒球場,樂天桃猿,中信兄弟,33,1,X,豪勁,1,陳冠宇
3804,1,2023-04-01 17:21,臺中市洲際棒球場,樂天桃猿,中信兄弟,34,1,O,曾頌恩,PH,張志豪
3805,1,2023-04-01 17:21,臺中市洲際棒球場,樂天桃猿,中信兄弟,35,1,O,高宇杰,PH,福來喜

In [11]:
def calculate_so_go_count(series):
    pr_count = (series == 'PR').sum()
    return pd.Series({'PR': pr_count})

In [12]:
merged_PR=merged_PR.groupby(['上場選手'])['守位'].apply(calculate_so_go_count).reset_index()
merged_PR = merged_PR.rename(columns={'上場選手':'名稱','level_1': 'PR', '守位': 'PR次數'})
merged_PR

      名稱  PR  PR次數
0    于森旭  PR     2
1     伍鐸  PR     0
2    何恆佑  PR     2
3    余德龍  PR     8
4     余謙  PR     0
..   ...  ..   ...
256  黃弘毅  PR     0
257  黃竣彥  PR     0
258  黃鈞聲  PR     0
259  黃鈞麟  PR     0
260  黃韋盛  PR    10

[261 rows x 3 columns]

In [13]:
merged_PR = merged_PR.drop(['PR'], axis = 1)
merged_PR

      名稱  PR次數
0    于森旭     2
1     伍鐸     0
2    何恆佑     2
3    余德龍     8
4     余謙     0
..   ...   ...
256  黃弘毅     0
257  黃竣彥     0
258  黃鈞聲     0
259  黃鈞麟     0
260  黃韋盛    10

[261 rows x 2 columns]

In [14]:
df = pd.merge(batter_total, merged_PR, on=['名稱'])

In [18]:
df['RS%']=100*(df['得分']-df['全壘打'])/(df['安打']+df['觸身']+df['四壞']-df['全壘打']+df['PR次數'])
df['PwrSpd']=(2*df['全壘打']*df['盜壘'])/(df['全壘打']+df['盜壘'])
df['BA'] = df['安打']/df['打數']
df['SecA']=(df['四壞']-df['盜壘失敗']-df['安打']+df['盜壘']+df['TB'])/df['打數']
df['EqA'] = (df['安打']+df['TB']+1.5*(df['四壞']+df['觸身'])+df['盜壘'])/(df['打數']+df['四壞']+df['觸身']+df['盜壘失敗']+df['盜壘']/3)

In [19]:
df

,名稱,打席,打數,得分,安打,打點,二安,三安,全壘打,四壞,...,盜壘,盜壘失敗,一安,TB,PR次數,RS%,PwrSpd,BA,SecA,EqA
0,于森旭,38,38,2,6,1,1,0,0,0,...,4,0,5,7,2,25.000000,0.0,0.157895,0.131579,0.432203
1,何恆佑,47,45,4,8,0,2,0,0,1,...,0,0,6,10,2,36.363636,NaN,0.177778,0.066667,0.423913
2,余德龍,52,48,5,10,5,1,0,1,1,...,0,1,8,14,8,22.222222,0.0,0.208333,0.083333,0.510000
3,全浩瑋,5,5,0,1,0,0,0,0,0,...,0,0,1,1,0,0.000000,NaN,0.200000,0.000000,0.400000
4,冉承霖,32,29,4,7,3,0,0,0,3,...,0,0,7,7,3,30.769231,NaN,0.241379,0.103448,0.578125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,高宇杰,231,212,14,40,10,4,0,1,14,...,1,0,35,47,1,24.074074,1.0,0.188679,0.103774,0.481591
142,黃勇傳,121,107,12,25,9,3,0,0,11,...,2,2,22,28,1,30.769231,0.0,0.233645,0.130841,0.607337
143,黃鈞聲,10,10,0,3,0,0,0,0,0,...,0,0,3,3,0,0.000000,NaN,0.300000,0.000000,0.600000
144,黃鈞麟,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.000000,NaN,NaN,NaN,1.500000
145,黃韋盛,88,80,14,18,5,2,0,0,6,...,0,0,16,20,10,41.176471,NaN,0.225000,0.100000,0.546512

In [20]:
#df.to_excel('2023.xlsx', index=True)